.container {
    min-height: 90vh;
  }

.itemDetail {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: 1px solid #333;
  }
  
.itemDetail-imagen {
    width: 400px;
    margin: 10px;
  }
  
.itemDetail-img {
    width: 400px;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 8px rgb(0 0 0 / 50%);
    object-fit: cover;
  }
  
.itemDetail-cuerpo {
    height: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 20px;
  }
  
.itemDetail-title {
    font-size: 2rem;
    font-weight: 700;
    color: #333;
  }
  
.itemDetail-description {
    font-size: 1.2rem;
    color: #333;
  }
  
.itemDetail-btn {
    background-color: darksalmon;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    box-shadow: 0 0 8px rgb(0 0 0 / 50%);
    margin-top: 20px;
  }
  
@media (max-width: 768px) {
    .ItemDetailContainer {
      width: 90%;
      margin: 0 auto;
      display: flex;
    }
  
.itemDetail {
      display: flex;
      flex-direction: column;
      margin: 10px;
    }
  
.itemDetail-imagen {
      width: 150px;
    }
  
.itemDetail-img {
      width: 150px;
      height: 100%;
    }
  
.itemDetail-cuerpo {
      height: 500px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: space-around;
      align-items: flex-start;
      margin: 0 20px;
    }
  
.itemDetail-title {
      font-size: 1.5rem;
    }
  
.itemDetail-description {
      font-size: 1rem;
    }
  
.intro {
      color: darksalmon;
      font-size: 1.2rem;
    }
  
.itemDetail-btn {
      background-color: #9e0cd1;
      color: #fff;
      padding: 10px;
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      font-weight: 400;
      text-decoration: none;
      box-shadow: 0 0 8px rgb(0 0 0 / 50%);
      margin-top: 10px;
    }
  }
